body
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #262626;
}

ul {
    padding: 0 !important;
}

#navbar ul {
    list-style: none;
    display: inline-block;
    margin: 50px 8px 40px 0;
}

    #home {
        font-family: 'Nuku Nuku';
        color: white;
        font-size: 40px !important;
        position: relative;
        margin: 40px 0 10px 0; 
        line-height:10px;
        
    }

    #navbar li {
        display: inline;
        margin: 0 50px;
    }

    #navbar li a {
        text-transform: uppercase;
        color: white;
        font-size: 15px;
        font-weight: 900;
        text-decoration: none;
    }

    #navbar li a:hover {
        border-bottom: 4px solid #159df4;
    }



#middle h1 {
    font-family: 'Nuku Nuku';
    color: white;
    font-size: 70px;
    position: relative;
    margin: 40px 0 10px 0;   
}
    
    #face {
        border-radius:150px;
        height: 150px;
        width: 150px;
        margin: 50px 0 20px 0;
    }

    #middle p {
        color: white;
        font-size: 18px;
        font-weight: 100;
    }

    #social {
        list-style:none;
        display: block;
        margin: 150px 0 0 0;
        padding: 0;
    }

        #social li {
            display:inline-block;
            height: 34px;
            width: 34px;
            border: 2px solid #159df4;
            margin: -3px;
            position: relative;
        }

        #social li:hover {
            background-color: #159df4;
            cursor: pointer;
        }
      
        #social img {
            height: 16px;
            position: absolute;
            top: 25%;
            left: 25%;
        }

    #sig {
        height: 60px;
        margin: 20px 0 0 0;
    }


    